body {
    font-family: Arial;
    text-align: left;
    background-color: #535563;
    margin: 0px;
}

#pageTopper {
    background-color: lightcyan;
    padding: 8px;
    overflow: auto;
}

.mainTopper {
    font-size: 33px;
    text-align: center;
}

.underTopper {
    font-size: 20px;
    text-align: center;
}

#navbar {
    overflow: auto;
    background-color: #2859d6;
    text-align: center;
    border-top: solid;
    border-bottom: solid;
    border-color: black;
    z-index: 1;
}


    #navbar a {
        background-color: #c4c4c4;
        text-align: center;
        color: black;
        text-decoration: none;
        width: 14.666%;
        height: inherit;
        float: left;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }

        #navbar a:hover {
            background-color: #bcc0e0;
        }

    #navbar .active {
        background-color: #92d1ac;
        border-bottom: solid;
        border-width: 4px;
        border-bottom-color: #28d633;
    }

        #navbar .active:hover {
            background-color: #9ed6b6;
        }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + p {
        margin-top: 51.5px;
    }

.padder {
    padding: 5px;
    overflow: auto;
}

#mainWrapper {
    width: 100%;
    float: left;
    overflow: auto;
    color: ghostwhite;
}

#leftSpacer {
    float: left;
    width: 100px;
}

#contentAndBar {
    float: left;
    width: 100%;
}

#content {
    float: left;
    width: 60%;
}

#sideBar {
    float: right;
    width: 40%;
    line-height: 150%;
}

a:link, a:visited {
    color: #b6b7c1;
}

a:hover {
    color: #d7daea;
}


#aboutMe {
    line-height: 150%;
    text-align: left;
}

#bottomBar {
    text-align: center;
    font-style: italic;
    font-size: 10px;
    width: 100%;
    bottom: 5px;
}

.plainLink:visited, .plainLink:link {
    text-decoration: none;
    color: darkslategray;
}

.plainLink:hover {
    text-decoration: underline;
    color: darkslateblue;
}

.picsAcross {
    width: 100%;
    overflow: hidden;
}

img {
    float: left;
    height: 100%;
    position: relative;
}

.fadeAcross {
    width: 100%;
}

.fade {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.fadeText {
    display: flex;
    align-items: flex-end;
    height: 100%;
    position: absolute;
    width: 100%;
}

    .fadeText h1 {
        opacity: 0;
        transition: .5s ease;
        padding: 5px;
        width: 100%;
    }

.fade:hover .fadeText h1 {
    margin-bottom: 0px;
    opacity: 1;
    transition: .5s ease;
    background-color: rgba(66, 90, 130, .8);
}
