#entireBody {
    font-family: Arial;
    text-align: left;
}

.mainTopper {
    font-size: 33px;
    text-align: center;
}

.underTopper {
    font-size: 20px;
    text-align: center;
}

#leftSpacer {
    float: left;
    width: 100px;
}

#mainWrapper {
    width: 99%;
    padding: 5px;
    float: left;
    overflow: auto;
}

#content {
    float: left;
    width: 65%;
}

#contentAndBar {
    float: left;
    width: 100%;
}

#sideBar {
    float: right;
    width: 29%;
    line-height: 150%;
    padding-left: 5%;
}

.postTitle {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 3px;
}

.postDate {
    font-style: italic;
    font-size: 95%;
    padding-bottom: 3px;
}

.postContent {
    line-height: 135%;
}

.image {
    width: 75%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right:auto;
    border:dashed;
    border-width: 1px;
    border-color: lightgrey;
}

a:link, a:visited {
    color: cadetblue;
}

a:hover {
    color: blue;
}

#homeButton {
    background-color: azure;
    color: black;
    text-align: center;
    display: inline-block;
    width: 93%;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    text-decoration: none;
}

#aboutMe {
    line-height: 150%;
}

.resumeSection {
    list-style: circle;
    line-height: 150%;
    overflow: auto;
}

.resumeRight {
    text-align: right;
    width: 49%;
    float: right;
}

.resumeEntry {
    overflow:auto;
}

#bottomBar {
    text-align:center;
    font-style:italic;
    font-size:10px;
    width: 100%;
    bottom: 5px;
}