body {
    font-family: Arial;
    text-align: left;
    background-color: #535563;
    margin: 0px;
}

#pageTopper {
    background-color: darkslategrey;
    padding: 8px;
    overflow: auto;
    font-weight: bold;
}

.mainTopper {
    font-size: 33px;
    text-align: center;
    color: whitesmoke;
}

.underTopper {
    font-size: 20px;
    text-align: center;
    color: lightgrey;
}

    .underTopper a:link, a:visited {
        color: #b6b7c1;
        text-decoration: none;
    }

    .underTopper a:hover {
        color: aliceblue;
    }


#navbar {
    overflow: auto;
    background-color: #2859d6;
    text-align: center;
    border-top: solid;
    border-bottom: solid;
    border-color: black;
    z-index: 1;
}


    #navbar a {
        background-color: #c4c4c4;
        text-align: center;
        color: black;
        text-decoration: none;
        width: 14.666%;
        height: inherit;
        float: left;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }

        #navbar a:hover {
            background-color: #bcc0e0;
        }

    #navbar .active {
        background-color: #92d1ac;
        border-bottom: solid;
        border-width: 4px;
        border-bottom-color: #28d633;
    }

        #navbar .active:hover {
            background-color: #9ed6b6;
        }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + p {
        margin-top: 51.5px;
    }

.padder {
    padding: 18px;
    overflow: auto;
}

#mainWrapper {
    width: 100%;
    float: left;
    overflow: auto;
}

#leftSpacer {
    float: left;
    width: 100px;
}

#content {
    float: left;
    width: 65%;
}

.postStream {
    background-color: #f9fbfc;
    border-radius: 10px;
}

#contentAndBar {
    float: left;
    width: 100%;
}

#sideBar {
    float: right;
    width: 29%;
    line-height: 150%;
    padding-left: 5%;
    color: white;
}

.post {
    position: relative;
}

.postAnchor {
    position: absolute;
    left: 0px;
    top: -60px;
}

.postTitle {
    z-index: 0;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 3px;
}

.postDate {
    font-style: italic;
    font-size: 95%;
    padding-bottom: 3px;
}

.postContent {
    line-height: 135%;
}

.imageBoxWrapper {
    width: 99%;
    overflow: auto;
}

.imageDiv {
    float: left;
}

    .imageDiv .image {
        width: 90%;
    }

.image {
    width: 75%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: dashed;
    border-width: 1px;
    border-color: lightgrey;
}

a:link, a:visited {
    color: #b6b7c1;
    text-decoration: none;
}

a:hover {
    color: #959bd8;
}

.plainLink:visited, .plainLink:link {
    text-decoration: none;
    color: darkslateblue;
}

.plainLink:hover {
    text-decoration: underline;
    color: darkslateblue;
}

#bottomBar {
    text-align: center;
    font-style: italic;
    font-size: 10px;
    width: 100%;
    bottom: 5px;
}
