@import url("navBarStyle.css");

@viewport {
    width: device-width;
    zoom: 1.0;
}

body {
    font-family: Arial;
    text-align: left;
    background-color: #535563;
    margin: 0px;
}

#pageTopper {
    background-color: darkslategrey;
    padding: 8px;
    overflow: auto;
    font-weight: bold;
}

.mainTopper {
    font-size: 33px;
    text-align: center;
    color: whitesmoke;
}

.underTopper {
    font-size: 20px;
    text-align: center;
    color: lightgrey;
}

    .underTopper a:link, a:visited {
        color: #b6b7c1;
        text-decoration: none;
    }

    .underTopper a:hover {
        color: aliceblue;
    }


.contentStream {
    background-color: #f9fbfc;
    border-radius: 10px;
    padding: 15px;
}



.contentContainer {
    max-width: 800px;
    margin: 0 auto;
    overflow: auto;
    padding: 10px;
}

.content {
    float: left;
    width: 65%;
}

#sideBar {
    float: right;
    width: 29%;
    line-height: 150%;
    padding-left: 5%;
    color: white;
}

@media (max-width: 600px) {
    .content {
        float: none;
        width: 100%;
    }

    #sideBar {
        float: none;
        text-align: center;
        margin: auto;
        width: unset;
    }
}

.post {
    position: relative;
}

.postAnchor {
    position: absolute;
    left: 0px;
    top: -60px;
}

.postTitle {
    z-index: 0;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 3px;
}

.postDate {
    font-style: italic;
    font-size: 95%;
    padding-bottom: 3px;
}

.postContent {
    line-height: 135%;
}

.postContent br {
    margin-bottom: 7pt;
}

.imageBoxWrapper {
    width: 99%;
    overflow: auto;
}

.imageDiv {
    float: left;
}

    .imageDiv .image {
        width: 90%;
    }

.image {
    width: 75%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: dashed;
    border-width: 1px;
    border-color: lightgrey;
}

a:link, a:visited {
    color: #b6b7c1;
    text-decoration: none;
}

a:hover {
    color: #959bd8;
}

.plainLink:visited, .plainLink:link {
    text-decoration: none;
    color: darkslateblue;
}

.plainLink:hover {
    text-decoration: underline;
    color: darkslateblue;
}

#bottomBar {
    text-align: center;
    font-style: italic;
    font-size: 10px;
    width: 100%;
    bottom: 5px;
}
