body {
    font-family: Arial;
    text-align: left;
    background-color: #fffdf4;
    margin: 0px;
}

#pageTopper {
    background-color: lightcyan;
    padding: 8px;
    overflow: auto;
}

.mainTopper {
    font-size: 33px;
    text-align: center;
}

.underTopper {
    font-size: 20px;
    text-align: center;
}

#navbar {
    overflow: auto;
    background-color: #abafcc;
    text-align: center;
    border-top: solid;
    border-bottom: solid;
    border-color: black;
}


    #navbar a {
        background-color: #b1b5d3;
        text-align: center;
        color: black;
        text-decoration: none;
        width: 14.666%;
        height: inherit;
        float: left;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }

        #navbar a:hover {
            background-color: #bcc0e0;
        }

    #navbar .active {
        background-color: #afd3be;
        outline: solid;
        outline-width: 3px;
        outline-offset: -3px;
        outline-color: #8ca597;
    }

        #navbar .active:hover {
            background-color: #b9e5cc;
        }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + p {
        margin-top: 51.5px;
    }

.padder {
    padding: 15px;
    overflow: auto;
}

#mainWrapper {
    width: 100%;
    float: left;
    overflow: auto;
}

#leftSpacer {
    float: left;
    width: 100px;
}

#content {
    float: left;
    width: 65%;
}

#contentAndBar {
    float: left;
    width: 100%;
}

#sideBar {
    float: right;
    width: 29%;
    line-height: 150%;
    padding-left: 5%;
}

.postTitle {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 3px;
}

.postDate {
    font-style: italic;
    font-size: 95%;
    padding-bottom: 3px;
}

.postContent {
    line-height: 135%;
}

.imageBoxWrapper {
    width: 99%;
    overflow: auto;
}

.imageDiv {
    float: left;
}

    .imageDiv .image {
        width: 90%;
    }

.image {
    width: 75%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: dashed;
    border-width: 1px;
    border-color: lightgrey;
}

a:link, a:visited {
    color: #ff6316;
}

a:hover {
    color: blue;
}

#bottomBar {
    text-align: center;
    font-style: italic;
    font-size: 10px;
    width: 100%;
    bottom: 5px;
}

.plainLink:visited, .plainLink:link {
    text-decoration: none;
    color: darkslategray;
}

.plainLink:hover {
    text-decoration: underline;
    color: darkslateblue;
}
