#navbar {
    border-top: solid;
    border-bottom: solid;
    border-color: black;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    display: flex;
}

#navbar div {
    width: 23%;
    padding: 8px 1%;
    float: left;
    display: table;
    overflow: hidden;
    border-bottom: solid;
    border-bottom-width: 4px;
}

    #navbar div a {
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        color: black;
        text-decoration: none;
    }

#navbar div.active {
    background-color: #92d1ac;
    border-bottom-color: #28d633;
}

    #navbar div.active:hover {
        background-color: #9ed6b6;
    }

    
#navbar div:not(.active) {
    background-color: #c4c4c4;
    border-bottom-color: #2859d6;;
}

    #navbar div:not(.active):hover {
        background-color: #bcc0e0;
    }