#navbar {
    overflow: auto;
    background-color: #2859d6;
    text-align: center;
    border-top: solid;
    border-bottom: solid;
    border-color: black;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 17px;
}


    #navbar a {
        background-color: #c4c4c4;
        text-align: center;
        color: black;
        text-decoration: none;
        width: 14.666%;
        height: inherit;
        float: left;
        display: block;
        padding: 5px 1%;
        overflow: hidden;
    }

        #navbar a:hover {
            background-color: #bcc0e0;
        }


/*when the first one makes a second line*/
@media (max-width: 735px) {
    #navbar a {
        width: 8.666%;
        padding: 5px 4%;
    }
}

/*when all would be on their own line*/
@media (max-width: 428px) {
    #navbar a {
        width: 16.6666%;
        padding: 5px 0;
    }
}

#navbar .active {
    background-color: #92d1ac;
    border-bottom: solid;
    border-width: 4px;
    border-bottom-color: #28d633;
}

    #navbar .active:hover {
        background-color: #9ed6b6;
    }
